<h1>Users#new</h1>
<!-- #:url => { :controller => "users", :action => "create" }, :html => {:method => :post -->
<!--...-->
<%= form_for @use do |f| %>
	<div>
		<%= f.label :name  %>
		<%= f.text_field :name  %>
	</div>
	<%= f.fields_for  @use.licenses.new do |build| %>
		<div>
			<%= build.label :number %>
			<%= build.text_field :number %>
		</div>

		<div>
			<%= build.label :state %>
			<%= build.text_field :state%>
		</div>
	<%end%>
<%= f.submit "create user"%>

<%end%>


